<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Film Dome</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/user-login-signup-style.css">
    <link rel="stylesheet" href="/css/movie-app.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<nav th:fragment="nav" xmlns:th="http://www.w3.org/1999/xhtml">

    <ul>
        <li><a th:href="@{/displayHomePage}">Home</a></li>
        <li><a th:href="@{/newsPage}">News</a></li>
        <li><a th:href="@{/displaySearchPage}">Search</a></li>
        <li th:if="${session.user != null}"><a th:href="@{/sessionEndLogout}">Sign Out</a></li>
    </ul>
    <div th:if="${session.user != null}">
        <div th:if="${session.user.id != -1}">
            <a th:href="@{/displayUserInfo}" class="fs-3 font-weight-bold text-white" th:text="${session.user.firstName + ' ' + session.user.lastName}"></a>
        </div>
        <!-- If user.id == -1 then it's a guest user-->
        <div th:unless="${session.user.id != -1}">
            <span class="text-white fs-5 fw-bold">Guest</span>
        </div>
    </div>

</nav>

<footer th:fragment="foot" class="fixed-bottom py-2 text-end pe-5 fs-5 text-white fw-bold" style="background-color: rgba(63, 81, 181);" xmlns:th="http://www.w3.org/1999/xhtml">
    © 2026 Film Dome, Inc
</footer>
