<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/pageLayout :: head}"></div>
<body>
<div th:replace="~{fragments/pageLayout :: nav}"></div>
<div class="container pb-5">
    <div class="container-fluid">
        <div class="col-md-12 mt-5">
            <div class="fs-1">
                <p>
                    <span th:text="${actor.actorName}"></span>
                </p>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-3 fs-3">
                        <img class="poster-img" th:src="@{'https://image.tmdb.org/t/p/w500' + ${actor.poster}}" style="width: 300px; height:400px"/>
                    </div>
                    <div class="fs-5 col-sm-8">
                        <p>
                            <span th:text="${actor.summary}"></span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="mt-4">
                <h3>Starring Films:</h3>
                <div class="row">
                    <div class="col-auto"
                         th:each="movie : ${actor.movies}">
                        <a th:href="@{'/displayMovieInfo?id=' + ${movie.id}}">
                            <img class="movieImage" th:src="@{'https://image.tmdb.org/t/p/w500' + ${movie.poster}}" style="width:150px; height:225px"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/pageLayout :: foot}"></div>
</body>
</html>