<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/pageLayout :: head}"></div>
<body>
<div th:replace="~{fragments/pageLayout :: nav}"></div>
<div class="container pb-5">
    <div class="container-fluid">
        <div class="col-md-12 mt-5">
            <div class="fs-1">
                <p>
                    <span th:text="${actor.actorName}"></span>
                </p>
            </div>

            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <img class="posterImage" th:src="@{'https://image.tmdb.org/t/p/w500' + ${actor.poster}}"/>
                    </div>
                    <div class="col-sm-8">
                        <p>
                            <span th:text="${actor.summary}"></span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <p class="fs-3"><br><b>Starring Films:</b></p>
                    <div class="row">
                        <div class="col-6 col-sm-4 col-md-3 col-lg-2" th:each="movie : ${actor.movies}">
                            <a th:href="@{'/displayMovieInfo?id=' + ${movie.id}}" class="text-decoration-none text-dark d-block">
                                <div class="movie-card">
                                    <img class="movieImage" th:src="@{'https://image.tmdb.org/t/p/w500' + ${movie.poster}}"/>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/pageLayout :: foot}"></div>
</body>
</html>