<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/pageLayout :: head}"></div>
<body>
<div th:replace="~{fragments/pageLayout :: nav}"></div>

<div class="container bg-light pb-5">
<div class="container-fluid pt-4">
    <div class="row">
        <div class="col-sm">
            <h2 class="text-center mb-4 fw-bold display-4">Latest News</h2>
            <div class="col-sm">
            </div>
            <div class="d-flex flex-wrap gap-3 justify-content-center">
                <th:block th:each="news : ${allNews}">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" th:src="@{'images/' + ${news.poster}}" style="width: 286px; height: 400px;" alt="Lilo Poster">
                        <div class="card-body">
                            <p class="card-text" th:text="${news.title}"></p>
                        </div>
                        <a th:href="@{'/newsSelection?id=' + ${news.id}}" class="btn btn-primary stretched-link">Read more</a>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
    </div>
</div>
<div th:replace="~{fragments/pageLayout :: foot}"></div>
</body>
</html>