<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/pageLayout :: head}"></div>
<body>
<div th:replace="~{fragments/pageLayout :: nav}"></div>

<div class="container pt-4">
    <h5 class="fw-bold">Date: <span class="fw-normal" th:text="${#temporals.format(news.date, 'MMM dd, yyyy')}"></span></h5>
    <h3><u><b><span th:text="${news.title}"></span></b></u></h3>
    <div class="container">
        <div class="row">
            <img class=" poster-img col-sm-3 mt-4" th:src="@{'images/' + ${news.poster}}"/>
            <p class="fs-3 mt-3 col-sm-8" th:text="${news.description}"></p>
        </div>
    </div>
</div>
<div class="text-center mt-3 d-block">
    <form th:action="@{/newsPage}" method="get">
        <button type="submit" class="btn fs-2 btn-secondary btn-block my-3 col-md-4 rounded-pill signUpButton">Back to
            News
        </button>
    </form>
</div>
</body>
<div th:replace="~{fragments/pageLayout :: foot}"></div>
</html>