<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/pageLayout :: head}"></div>
<div th:replace="~{fragments/pageLayout :: nav}"></div>
<body>

<div class="container bg-light pt-4 pb-5">
    <h3 class="text-center mb-2 fw-bold display-4">Search For Movies</h3>
    <div class="container mt-4">
        <div class="row mt-3 justify-content-center">
            <div class="col-md-8 d-flex">
                <input type="text" id="searchAllId" placeholder="Search by title, studio, or director"
                       class="form-control fs-4 p-3">
                <button onclick="searchMovies()" class="btn btn-primary fs-4 px-4">Search</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div id="searchMessage" class="text-danger mt-2 fs-5"></div>
        </div>
    </div>
    <div id="searchResults" class="row mt-4"></div>
</div>

<script>
    function searchMovies() {
        const searchInput = document.getElementById("searchAllId").value.trim();
        const messageDiv = document.getElementById("searchMessage");

        if (!searchInput) {
            messageDiv.textContent = "Please enter a movie, studio or director name.";
            return;
        }

        messageDiv.textContent = "";
        const params = new URLSearchParams();
        params.append("title", searchInput);

        fetch(`/api/movies/searchMovie?${params.toString()}`)
            .then(response => response.json())
            .then(movies => {
                const resultsDiv = document.getElementById("searchResults");
                resultsDiv.innerHTML = "";

                if (movies.length === 0) {
                    resultsDiv.innerHTML = "<p>No movies found.</p>";
                    return;
                }

                movies.forEach(movie => {
                    const movieHtml = `
                        <div class="col-md-3 mb-4 image-container">
                            <a href="/displayMovieInfo?id=${movie.id}">
                                <img class="movieImage" src="https://image.tmdb.org/t/p/w500${movie.poster}" alt="${movie.name}">
                            </a>
                        <div class="ml-5 mt-2">
                            <h5>${movie.name}</h5>
                        </div>
                    </div>
                    `;
                    resultsDiv.innerHTML += movieHtml;
                });
                document.getElementById("searchAllId").value = "";
            })
            .catch(error => {
                console.error("Error during search:", error);
            });
    }
</script>
<div th:replace="~{fragments/pageLayout :: foot}"></div>
</body>
</html>
